.focus-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  white-space: nowrap;
}
.focus-move-btns {
  display: flex;
  gap: 16px;
}

.move-btn-hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 144px;
  height: 48px;
  border: 2px solid #DDDD; 
  border-radius: 15px; 
}

.point-find {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reward-point {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #e0e0e0;
  border-radius: 50px;
  width: 184px;
  height: 31px;
}

.focus-watch {
  display: block;
  border: 1px solid #DDDD;
  border-radius: 20px;
  padding: 40px 24px;
  margin-top: 24px;
}

.focus-header {
  display: flex;
  gap: 92px;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 485px;
}

.stopwatch {
  text-align: center;
  align-items: center;
}
.button-wrap {
  display: flex;
  justify-content: center;
  
}
.start-button {
  width: 333px;
  height: 60px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 94px;
}

.start-button-icon {
  width: 44px;
  height: 44px;
  
}