/* 헤더 테스트 버튼용 CSS 삭제 예정 */
.temp_button {
  padding: 2px 8px !important;
  font-size: 12px !important;
  min-width: auto !important;
  width: auto !important;
  max-width: max-content !important;
  display: inline-flex !important;
  align-items: center !important;
  margin: 0 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px; /* 모바일 */
  width: 100%;
  height: 70px;
}

/* 헤더 로고 */
.header-logo {
  height: 60px;
  width: auto;
}

/* ---- 버튼 기본 (모바일) ---- */
.header-button {
  background-color: var(--green-300);
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: "JejuStoneWall";
  font-size: 14px;
  width: 106px;
  height: 38px;
  text-shadow: 0px -2px 0px var(--green-700);
  transition: transform 0.12s ease-out, box-shadow 0.12s ease-out,
    opacity 0.12s ease-out;
}

/* 마우스 올렸을 때 */
.header-button:hover {
  transform: scale(1.02); /*살짝 커짐*/
  opacity: 0.96;
}

/* 클릭 눌렀을 때 */
.header-button:active {
  transform: scale(0.99);
  opacity: 1;
}

/* ---- 태블릿 ---- */
@media (min-width: 601px) and (max-width: 1200px) {
  .header {
    padding: 20px 24px;
  }

  .header-button {
    width: 160px;
    height: 58px;
    font-size: 16px;
  }
}

/* ---- 데스크탑 ---- */
@media (min-width: 1201px) {
  .header {
    padding: 20px 220px;
  }

  .header-button {
    width: 252px;
    height: 58px;
    font-size: 18px;
  }
}
