.input-wrapper {
  position: relative;
  width: 1000px ;
}

.input-basic {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 999px;
  font-size: 14px;
}

.input-wrapper--password .input-basic {
  padding-right: 44px;
}

/* 비밀번호 아이콘 */
.eye-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.eye-btn img {
  width: 20px;
  opacity: 0.5;
}
