.listModal {
  padding: 32px 24px;
  width: 648px;
  max-width: 420px;
  margin: 0 auto;
}

.listModal-title {
  text-align: center;
  width: 100%;
}

.listModal-list {
  list-style: none;
  padding: 0;
  margin: 24px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.listModal-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  position: relative;
  width: 400px;
  max-width: 400px;
  padding-right: 0;
  margin: 0 auto;
}

.habitInput {
  width: 350px;
  max-width: 350px;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  text-align: center;
  line-height: 1;
  display: block;
  text-decoration: underline;
  color: #818181;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
}

.deleteButton {
  position: absolute;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffe6ea;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.deleteIcon {
  width: 18px;
  height: 18px;
}

.addHabitButton {
  width: 350px;
  max-width: 350px;
  margin: 8px auto 20px;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #222;
  background-color: #ffffff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  box-sizing: border-box;
}

.buttonBox {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

/* 모바일 */
@media screen and (max-width: 600px) {
  .listModal-list {
    max-height: calc(8 * (40px + 14px) - 14px);
    overflow-y: auto;
    padding-right: 8px;
  }

  .listModal-item {
    width: 100%;
    max-width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .habitInput {
    max-width: 100%;
    width: 100%;
  }

  .addHabitButton {
    max-width: 100%;
    width: 100%;
  }

  .deleteButton {
    right: 0;
  }
}

/* 태블릿 */
@media (min-width: 601px) and (max-width: 1200px) {
  .listModal {
    padding: 40px 32px;
    max-width: 520px;
  }

  .listModal-item {
    width: 100%;
    max-width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
  }

  .habitInput {
    max-width: 100%;
    width: 100%;
  }

  .addHabitButton {
    max-width: calc(100% - 50px);
    width: calc(100% - 50px);
    margin-left: auto;
    margin-right: 50px;
  }

  .deleteButton {
    right: 0;
  }
}

/* 데스크톱 */
@media (min-width: 1201px) and (max-width: 1920px) {
  .listModal {
    padding: 40px 48px;
    max-width: 640px;
  }

  .listModal-item {
    justify-content: flex-end;
    padding-right: 25px;
  }

  .addHabitButton {
    margin-left: auto;
    margin-right: auto;
  }

}
