/* 더보기 버튼을 감싸는 래퍼 - 가운데 정렬 */
.more-button-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

/* 실제 버튼 */
.MoreButton {
  min-width: 200px;
  padding: 14px 32px;
  box-sizing: border-box;
  transition: all ease-in 0.1s;
  border-radius: 16px;
  border: 1px solid var(--gray-300);
  background-color: #fff;
}

.MoreButton:hover {
  scale: 1.02;
  opacity: 0.95;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.MoreButton .MoreButton_text {
  font-family: "Pretendard";
  color: var(--green-700);
  z-index: 1;
}

/* active (눌렀을 때) */
.MoreButton:active {
  transform: translateY(0px) scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
  opacity: 0.9;
}
