.title {
  text-align: center;
  margin-bottom: 16px;
}

.exit {
  position: static;
  display: block;
  margin: 16px auto 0;
  background: none;
  border: none;
  cursor: pointer;
}

.h3 {
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}

.password {
  width: 100%;
  padding: 12px 40px 12px 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.password-toggle-button {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}


.p {
  font-family: "JejuStoneWall";
  text-shadow: 0px -3px 1px var(--green-700);
}

.toast-password {
  width: auto;
}

@media (min-width: 375px) and (max-width: 743px) {}

@media (min-width: 743px) and (max-width: 1199px) {
  .title {
    margin: auto;
    margin-bottom: 24px;
    max-width: 80%;
  }

  .h3 {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .input-wrapper {
    max-width: 460px;
    margin: 20px auto 32px;
  }

  .password {
    padding: 16px 48px 16px 20px;
    font-size: 16px;
  }

  .exit {
    position: absolute;
    top: 35px;
    right: 48px;
  }
}

/* PC: 1200px 이상 */
@media (min-width: 1200px) {

  /* PC 스타일 */
  .title {
    margin: auto;
    margin-bottom: 24px;
    max-width: 80%;
  }

  .h3 {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .input-wrapper {
    max-width: 460px;
    margin: 20px auto 32px;
  }

  .password {
    padding: 16px 48px 16px 20px;
    font-size: 16px;
  }

  .exit {
    position: absolute;
    top: 35px;
    right: 48px;
  }

}