.title {
  text-align: center;
  margin-bottom: 16px;
}
.exit {
  position: absolute;
  top: 24px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
.h3 {
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: center;
}
.input-wrapper {
  position: relative;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 32px;
}

.password {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border-radius: 1px solid #ddd;
  box-sizing: border-box;
  border-bottom: 10px;
}

.password-toggle-button {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.p {
  font-family: "JejuStoneWall";
  text-shadow: 0px -3px 1px var(--green-700);
}
