.detail_top {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.detail_top_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.detail_mid {
    margin-top: 24px;
}

.detail_mid_title {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail_mid_title_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.detail_mid_title_left {
    display: block;
    max-width: 60%;
}

.detail_mid_content {
    margin-top: 16px;
}

.detail_mid_content_text {
    margin-top: 8px;
}

.detail_mid_point_wrap {
    margin-top: 24px;
}

.detail_mid_point_wrap h2 {
    margin-bottom: 8px;
}

.detail_bottom {
    margin-top: 24px;
}

/* Skeleton Base */
.skeleton {
    background: #e3e3e3;
    border-radius: 8px;
    animation: skeleton-loading 1.4s ease-in-out infinite;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Title Skeleton */
.skeleton_title {
    width: 60%;
    height: 28px;
    /* 제목 높이 */
    margin-bottom: 12px;
}

/* Description Skeleton */
.skeleton_desc {
    width: 100%;
    height: 16px;
    margin-bottom: 8px;
}

.skeleton_desc.short {
    width: 80%;
}


/* 반응형 */

/* Mobile: 375px 이상 ~ 743px 이하 */
@media (min-width: 375px) and (max-width: 743px) {
    .detail_mid_title {
        flex-direction: column;

    }

    .detail_mid_title_right {
        justify-content: left;
        margin-top: 16px;
    }

    .detail_arrow_button {
        padding: 12px 24px;
        padding-right: 38px;
    }

    .detail_mid_title_left {
        max-width: 100%;
    }

    .emoji_wrap {
        margin-top: 16px;
    }

    .detail_top {
        flex-direction: column-reverse;
        align-items: normal
    }

    .detail_top_right {
        gap: 12px;
        justify-content: end;
    }

    .weekly_habit_tracker_none {
        padding: 80px 20px;
    }

    .emoji_modal_warp {
        position: fixed;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);


        z-index: 999;
    }
}

/* Tablet: 744px 이상 ~ 1199px 이하 */
@media (min-width: 743px) and (max-width: 1199px) {}

/* PC: 1200px 이상 */
@media (min-width: 1200px) {
    /* PC 스타일 */


}