.weekly_habit_tracker {
    border: 1px solid var(--gray-300);
    border-radius: 20px;
    padding: 24px;
    overflow: auto;
}

.weekly_habit_tracker_table {
    width: 100%;
    table-layout: auto;
    margin-top: 24px;
    min-width: 648px;


}

.weekly_habit_tracker_table_head {}

.weekly_habit_tracker_table_body th {
    text-align: right;
    max-width: 122px;
    padding: 0 24px;
}

.weekly_habit_tracker_table_body td {
    padding: 14px 8px;
    text-align: center;

}

.sticker {
    width: 36px;
    height: 36px;
}