.message {
  display: inline-flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
}

.message-number {
  font-size: 20px;
  font-weight: bold;
}